## Useful properties and methods

In [16]:
import pandas as pd
import numpy as np

## Create DF:

In next examples we'll be using the `drinks` dataset.

You can get the 'drinks.csv' file from https://github.com/geekcourses/JupyterNotebooksExamples/blob/master/datasets/various/drinks.csv

In [3]:
data = pd.read_csv("../../datasets/various/drinks.csv")
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## get indexes and columns

In [6]:
# get rows index
index_labels = data.index
print(index_labels)

RangeIndex(start=0, stop=193, step=1)

In [7]:
# get columns labels
column_labels = data.columns
print(column_labels)
# print(list(column_labels))

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

## DF shape


df.shape in pandas returns a tuple indicating the number of rows and columns in the DataFrame df, formatted as (rows, columns)

In [5]:
data.shape

(193, 6)

## DF info

df.info() in pandas provides a concise summary of a DataFrame df, including the index dtype and column dtypes, non-null counts, and memory usage. It's useful for getting a quick overview of the DataFrame's structure and data types.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

## DF describe

df.describe() generates descriptive statistics that summarize the central tendency, dispersion, and shape of a datasetâ€™s distribution, excluding NaN values. It's applicable to numeric columns by default but can also describe object columns or all columns if specified. It provides information such as mean, standard deviation, min, max, and quartiles.

In [7]:
data.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

note that all parameters in describe, are also defined as a separate functions:

In [12]:
data['wine_servings'].mean()

49.45077720207254

## Get only numerical columns:

if you need to get only coumns with numeric data you can use `pd.np.number` as a shorthand for selecting numeric dtypes (e.g., integer, float) supported by pandas.

In [19]:
data_numeric = data.select_dtypes(include=[np.number])
data_numeric.head()

   beer_servings  spirit_servings  wine_servings  total_litres_of_pure_alcohol
0              0                0              0                           0.0
1             89              132             54                           4.9
2             25                0             14                           0.7
3            245              138            312                          12.4
4            217               57             45                           5.9

### Statistic notes: mean vs DF.median

The mean (average) of a data set is found by adding all numbers in the data set and then dividing by the number of values in the set. 

The median is the middle value when a <span style="color:red">data set is ordered</span> from least to greatest. If the number of observations is even, then the median is the simple average of the middle two numbers.

In [13]:
test_df = pd.DataFrame({
	"userName":['Pesho', 'Maria','Ivan'],
	"age": [20, 25, 60]
})
test_df

  userName  age
0    Pesho   20
1    Maria   25
2     Ivan   60

In [14]:
mean_age = test_df.age.mean()
median_age = test_df.age.median()

print(mean_age, median_age)

35.0 25.0

## Selecting by max/min values in DF

In [20]:
# Get maximum values of every column
data_numeric.max()

beer_servings                   376.0
spirit_servings                 438.0
wine_servings                   370.0
total_litres_of_pure_alcohol     14.4
dtype: float64

In [21]:
# find max values for wine, beer and pure_alcohol
max_wine_servings = data.wine_servings.max()
print(f'max_wine_servings: {max_wine_servings}')

max_pure_alcohol = data.total_litres_of_pure_alcohol.max()
print(f'max_pure_alcohol: {max_pure_alcohol}')

max_beer_servings = data.beer_servings.max()
print(f'max_beer_servings: {max_beer_servings}')

max_wine_servings: 370
max_pure_alcohol: 14.4
max_beer_servings: 376

### Get max values of row(s)

must use df.max(axis=1)

In [41]:
data.max(axis=1).head(5)

/tmp/ipykernel_23008/3138797711.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.max(axis=1).head(5)

0      0.0
1    132.0
2     25.0
3    312.0
4    217.0
dtype: float64

In [42]:
# find max value from alcohol servings columns in row for Bulgaria
alcohol_servings_columns = ['beer_servings','spirit_servings','wine_servings']

bulgaria_data = data.loc[data.country == 'Bulgaria', alcohol_servings_columns]
# print(bulgaria_data)
bulgaria_data.max(axis=1)

25    252
dtype: int64

### Get label/coulmn of max value over row/column: df.idxmax()

Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html

#### Exmple: find max value from alcohol servings columns for Bulgaria

In [51]:
alcohol_servings_columns = ['beer_servings','spirit_servings','wine_servings']

bulgaria_data = data.loc[data.country == 'Bulgaria', alcohol_servings_columns]
# print(bulgaria_data)
bulgaria_data.idxmax(axis=1)

25    spirit_servings
dtype: object

### Example: find country with max wine servings

In [14]:
wine_max_idx = data.wine_servings.idxmax()
print(wine_max_idx)
data.iloc[wine_max_idx,:]

61

country                         France
beer_servings                      127
spirit_servings                    151
wine_servings                      370
total_litres_of_pure_alcohol      11.8
continent                           EU
Name: 61, dtype: object

## Grouping

Reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

### Example: find the max wine_servings per each continent

In [17]:
data.groupby('continent').wine_servings.max()

continent
AF    233
AS    123
EU    370
OC    212
SA    221
Name: wine_servings, dtype: int64

## Detect missing values

In [15]:
# check weather any missing values exists:
print(data.isnull().values.any())

# show the sum of missing values per column:
print(data.isnull().sum())

True
country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

## Tasks

1. Select country names of non european countries which have wine servings above the mean
2. Select country names for countries with 0 wine and beer servings
3. Select country name with max wine_servings in SA
<!-- 4. Stack Overflow Annual Developer Survey Insights
   1. Get familiar with Survay Data Schema and load the dataset for 2022 year
   2. Find the mean and median for Salary -->